{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Page styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.purple-lime.min.css" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Bilyric</span>
            <!-- Add spacer, to align navigation to the right -->
{#            <div class="mdl-layout-spacer"></div>#}
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">All song</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->

            {% block content %}{% endblock %}

        </div>
    </main>
</div>


<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
