{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title %}Bài hát yêu thích{% endblock %}
{% block content %}
<div class="container">
    {% if songs|length == 0 %}
    <div class="list-song col-md-12">
        <h3 class="text-bil col-md-12">Favorite songs</h3>
        <p>Bạn chưa có bài hát yêu thích nào</p>
    </div>
    {% else %}
        <h3 class="text-bil col-md-12">Favorite songs</h3>
        {% for song_item in songs %}
        <div class="col-md-4">
            <div class="clearfix song-item">
                <i class="fa fa-music fa-2x pull-left"></i>
                <div class="pull-left">
                    <p class="song-name"><a href="{% url 'songlyrics:play_song' song_item.slug song_item.id %}">{{ song_item.name }}</a>
                    </p>
                    <p class="song-artist">{{ song_item.artist }}</p>
                </div>
                <div class="pull-right">
                    <button data-action="delete" data-song="{{ song_item.id }}" class="btn btn-sm btn-bil favor"
                            title="Xóa khỏi bài hát yêu thích">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}

    <div class="col-md-12">
        {% bootstrap_paginate songs range=5 show_first_last="true" first_label="First" last_label="End" %}
    </div>
    {% endif %}

</div>

{% endblock %}
