{% extends 'frontend/base.html' %}
{% load staticfiles %}


{% block content %}
    <div id="parallax" class="row">
        <div class="site-title">
            <h1 class="site-name">BiLyric</h1>
            <h3 class="slogan">Dual subtitles for song</h3>
        </div>
    </div>

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#newest-panel" class="mdl-tabs__tab is-active">Mới nhất</a>
            <a href="#mostest-panel" class="mdl-tabs__tab">Nghe nhiều nhất</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="newest-panel">
            <ul class="demo-list-two mdl-list">
                <div class="mdl-grid">
                {% for song_item in last_songs %}
                <div class="mdl-cell mdl-cell--4-col">
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">music_note</i>
                          <span>{{ song_item.name }}</span>
                          <span class="mdl-list__item-sub-title">{{ song_item.artist }}</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                          <span class="mdl-list__item-secondary-info"> {{song_item.view}} lượt nghe</span>
{#                          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">headset</i></a>#}
                        </span>
                    </li>
                </div>
                {% endfor %}
                </div>
            </ul>
        </div>
        <div class="mdl-tabs__panel" id="mostest-panel">
            <ul class="demo-list-two mdl-list">
                <div class="mdl-grid">
                {% for song_item in most_songs %}
                <div class="mdl-cell mdl-cell--4-col">
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">music_note</i>
                          <span>{{ song_item.name }}</span>
                          <span class="mdl-list__item-sub-title">{{ song_item.artist }}</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                          <span class="mdl-list__item-secondary-info"> {{song_item.view}} lượt nghe</span>
{#                          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">headset</i></a>#}
                        </span>
                    </li>
                </div>
                {% endfor %}
                </div>
            </ul>
        </div>
    </div>
{% endblock %}
