{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block title %}{{ song.name }} - {{ song.artist }}{% endblock %}
{% block description %}Bài hát {{ song.name }} với phụ đề song ngữ Anh - Việt{% endblock %}
{% block keywords %}Bài hát {{ song.name }},  {{ song.artist }}{% endblock %}

{% block ogtitle %}{{ song.name }} - {{ song.artist }}{% endblock %}
{% block ogdescription %}Bài hát {{ song.name }} với phụ đề song ngữ Anh - Việt{% endblock %}


{% block style %}
    <link href="{% static 'plugins/jquery/jquery.mCustomScrollbar.css' %}" rel="stylesheet">


{% endblock %}

{% block script %}
    <script src="{% static 'plugins/srt/srt2.js' %}"></script>

    <script src="{% static 'assets/js/subtitle.js' %}"></script>

    <!--link: http://manos.malihu.gr/jquery-custom-content-scroller  -->
    <script src="{% static 'plugins/jquery/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {

            setTimeout(function () {
                $.ajax({
                    url: "{% url 'songlyrics:ajax_increment_view' song.id %}",
                    async: true,
                    cache: false,
                    success: function (data) {

                    }
                });
            }, 5000);

            $.ajax({
                url: "{% url 'songlyrics:ajax_subtitles' song.id %}",
                async: false,
                cache: false,
                success: function (data) {
                    subtitle = data;
                    var subtitleHandler = new Subtitles(data);
                    subtitleHandler.start();
                }
            });

        });
    </script>
{% endblock %}


{% block content %}
    <div class="container" id="play-page">
        <div class="col-md-8">
            <h3 class="song-title">{{ song.name }}
                <small>{{ song.artist }}</small>
            </h3>

            <div id="song-frame">
                <div id="subtitle">
                    <p id="sub1">{{ song.name }}
                    <p>
                    <p id="sub2">{{ song.artist }}
                    <p>
                </div>
                <iframe id="zmp3-frame" scrolling="no" width="100%" height="100%"
                        src="{% url 'songlyrics:zmp3_song' song.zmp3_xml %}" frameborder="0" allowfullscreen="true">
                </iframe>
            </div>


            <div class="form-group row">
                <div class="col-md-6" id="action">
                    <div class="pull-left action-item">
                        <button class="btn btn-sm btn-bil" id="lights"><i class="fa fa-lightbulb-o"
                                                                          aria-hidden="true"></i> Off light
                        </button>
                    </div>
                    <div class="pull-left action-item hidden-xs">
                        <button class="btn btn-sm btn-bil" id="bl-zoom"><i class="fa fa-expand"
                                                                          aria-hidden="true"></i> Zoom
                        </button>
                    </div>
                    <div class="pull-left action-item">
                        {% if favor %}
                            <button data-action="delete" data-song="{{ song.id }}" class="btn btn-sm btn-bil favor"
                                    title="Xóa khỏi bài hát yêu thích">
                                <i class="fa fa-heart" aria-hidden="true"></i> Like
                            </button>
                        {% else %}
                            {% if user.is_authenticated %}
                                <button data-action="post" data-song="{{ song.id }}" class="btn btn-sm btn-bil favor"
                                        title="Thêm vào bài hát yêu thích">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Like
                                </button>
                            {% else %}
                                <button data-toggle="modal" data-target="#login-modal" class="btn btn-sm btn-bil"
                                        title="Thêm vào bài hát yêu thích">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i> Like
                                </button>

                                {% include "component/login_modal.html" %}

                            {% endif %}
                        {% endif %}
                    </div>
                </div>


                <div class="pull-right" style="padding-right: 1em">
                    <h6>Lượt nghe: <strong>{{ song.view }}</strong></h6>
                </div>
            </div>

            {% include "component/admin_toolbar.html" %}


            <hr>
            <div class="song-panel row">
                <div class="clearfix col-md-12">
                    <h4 class="title-panel text-bil pull-left" style="margin-top: 0">You may also like</h4>
{#                    <div class="pull-right">#}
{#                        Auto play: <input type="checkbox" id="auto-play" class="switch form-control input-xs">#}
{#                    </div>#}
                </div>
                    {% for song_item in songs %}
                        {% include "component/song_item.html" with song_item=song_item col_class="col-md-6" %}
                    {% endfor %}
            </div>

        </div>
        <div class="col-md-4 sidebar">
            <div id="transcript">
                <ul>

                </ul>
            </div>
            <div class="song-panel family-song row">
                <h4 class="title-panel text-bil col-md-12">Related song</h4>
                {% for song_item in song_artist %}
                    {% include "component/song_item.html" with song_item=song_item col_class="col-md-12" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="lights-background"></div>
{% endblock %}
