{% extends 'backend/base.html' %}
{% load staticfiles %}

{% block page_title %}All song{% endblock %}

{% block style %}
<link href="{% static 'gentelella' %}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Slug</th>
        <th>Zmp3 ID</th>
        <th>Zmp3 XML</th>
        <th>Bybot</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for song in songs %}
    <tr>
        <td>{{song.id}}</td>
        <td>{{song.name}}</td>
        <td>{{song.artist}}</td>
        <td>{{song.slug}}</td>
        <td>{{song.zmp3_id}}</td>
        <td>{{song.zmp3_xml}}</td>
        <td>{{song.bybot}}</td>
        <td>
            <a target="_blank" href="{% url 'songlyrics:update_lyrics' song.slug song.id %}" class="btn btn-primary btn-xs"><i
                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block script %}
<script src="{% static 'gentelella' %}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{% static 'gentelella' %}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
    });

</script>

{% endblock %}
