{% extends 'dualsub/base.html' %}
{% load staticfiles %}
{% block title %}Edit - {{ song.name }}{% endblock %}

{% block page_title %}
    Edit song: {{ song.name }}<small>{{ song.artist }}</small>
{% endblock %}

{% block style %}
<link href="{% static 'plugins/jquery/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-8">
        <div id="song-frame">
            <div id="subtitle">
                <p id="sub1">{{ song.name }}
                <p>
                <p id="sub2">{{ song.artist }}
                <p>
            </div>
            <iframe id="zmp3-frame" scrolling="no" width="100%" height="100%"
                    src="{% url 'frontend:zmp3_song' song.zmp3_xml %}" frameborder="0" allowfullscreen="true">
            </iframe>
        </div>


        <div id="admin-toolbar" class="form-group row">
            <label for="shift" class="col-md-2 control-label input-sm">Shift subtitle(s): </label>
            <div class="col-md-2">
                <input type="number" class="form-control input-sm" id="shift" value="0" step="0.5">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" id="save-shift" data-url="{% url 'apiv1:subtitle' song.id %}"> Save Lyrics </button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-sm" id="bybot" data-song="{{song.id}}">
                    {% if song.bybot %}
                    <i data-value="0" class="fa fa-user-times"></i>
                    {% else %}
                    <i class="fa fa-user" data-value="1"></i>
                    {% endif %}
                </button>
            </div>

            <div class="col-md-1">
                <button class="btn btn-primary btn-sm" id="visible" data-song="{{song.id}}">
                    {% if song.visible %}
                    <i data-value="0" class="fa fa-eye"></i>
                    {% else %}
                    <i class="fa fa-eye-slash" data-value="1"></i>
                    {% endif %}
                </button>
            </div>

            <div class="row form-group col-md-12">
                <label for="zmp3-link" class="col-md-2 control-label input-sm">ZMP3 link: </label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-sm" id="zmp3-link" >
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm" id="get-zmp3id" > Get ZMP3ID </button>
                </div>
            </div>

            <div class="row form-group col-md-12">
                <label for="zmp3id" class="col-md-2 control-label input-sm">ZMP3 ID: </label>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" id="zmp3id" value="{{song.zmp3_id}}">
                </div>

                <label for="zmp3xml" class="col-md-2 control-label input-sm">ZMP3 XML: </label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" id="zmp3xml" value="{{song.zmp3_xml}}">
                </div>
                <div class="col-md-1">
                    <button data-song="{{song.id}}" class="btn btn-primary btn-sm" id="save-zmp3id" > Save ZMP3ID </button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 sidebar">
        <div id="transcript">
            <ul>

            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'plugins/srt/srt2.js' %}"></script>

<script src="{% static 'assets/js/subtitle.js' %}"></script>

<!--link: http://manos.malihu.gr/jquery-custom-content-scroller  -->
<script src="{% static 'plugins/jquery/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>
jQuery(document).ready(function ($) {
    var subtitle = {};
    $.ajax({
        url: "{% url 'apiv1:subtitle' song.id %}",
        async: false,
        cache: false,
        success: function (data) {
            subtitle = data;
        }
    });
    processSubtitle(subtitle);
});
</script>
{% endblock %}