{% extends 'dualsub/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block page_title %} Tracking {% endblock %}

{% block style %}
<link href="{% static 'gentelella' %}/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Song id</th>
        <th>Song name</th>
        <th>Artist</th>
        <th>Time</th>
    </tr>
    </thead>

    <tbody>
    {% for track in tracks %}
    <tr>
        <td>{{track.id}}</td>
        <td>{{track.ip}}</td>
        <td>{{track.song_id}}</td>
        <td>{{track.song.name}}</td>
        <td>{{track.song.artist}}</td>
        <td class="mm-time">{{ track.created_at|date:"c" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% bootstrap_paginate tracks range=5 show_first_last="true" first_label="First" last_label="End" %}
{% endblock %}


{% block script %}
<script src="{% static 'gentelella' %}/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{% static 'gentelella' %}/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
    });

</script>

{% endblock %}